[Unit]
Description=Sound control
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
#User=n
#Group=n
ExecStart=/usr/bin/sound_control.sh
#ExecStart=/home/n/Repos/modem_commands/sound_control.sh

[Install]
WantedBy=multi-user.target
