[Unit]
Description=Sound Service
 
[Service]
# Note that notify will only work if --daemonize=no
Type=notify
#ExecStart=/usr/bin/pulseaudio --daemonize=no --exit-idle-time=-1 --disallow-exit=true --system --disallow-module-loading
ExecStart=/usr/bin/pulseaudio --disallow-exit=true --system --disallow-module-loading
Restart=always
 
[Install]
WantedBy=multi-user.target
